<%= header(1, 'What is this?') %>
<p class="section">
  This is a simulator rolling the rare gacha (rare cat capsule) for
  Battle Cats. With the simulator, you can look into the future to
  predict and track your future rolling results.
</p>

<ol>
  <li>Every game save has a <strong>seed</strong> number used to calculate the rolling result.</li>
  <li>The seed number will only change if you roll the rare gacha.</li>
  <li>We can observe the rolling results and figure out your seed for your game save.</li>
  <li>The simulator is able to use the seed to calculate all the future rolling results.</li>
</ol>

<%= header(1, 'How to use') %>
<p class="section">
  First, you'll want to find your current seed. Watch the video or read the text explanation.
</p>

<%= header(2, %Q{<a href="#{route.seek_uri}">Seek the seed</a>}) %>
<p style="width: 640px; height: 360px"><iframe src="https://streamable.com/s/02nrn/pmxcpt" frameborder="0" width="100%" height="100%" allowfullscreen></iframe></p>

<ol>
  <li>
    Before you hit <em>seek</em>, follow these steps: <%= erb :help_seek %>
  </li>
  <li>
    Understand the results: <%= erb :help_seek_result %>
  </li>
</ol>

<%= header(2, 'Read the tracks') %>
<ul>
  <li>Using the link, you'll see a table looks like below.</li>
  <li>Suppose you start at <strong>1A</strong>, then your next roll with rare ticket or cat food will be the cat located in 1A. It's a rare cat (<strong>1A rare cat</strong>) in this case.</li>
  <li>Your next roll will be located at <strong>2A</strong>, which is a super rare cat (<span class="supa">2A supa cat</span>).</li>
</ul>

<%= erb :table, cats: arg[:help].read_the_tracks %>

<%= header(2, 'Highlight rolls') %>
<ul>
  <li>You can click on the cells, and it'll highlight the cats you'll roll out.</li>
  <li>Suppose we click on <span class="supa">2A supa cat</span>'s cell, and 2A + 3A will be <span class="picked">highlighted</span> in light grey.</li>
  <li><strong>3A rare cat</strong> will also be <span class="next_position">highlighted</span> in zebra, indicating your next position after the rolls.</li>
</ul>

<%= erb :table, cats: arg[:help].pick(arg[:help].read_the_tracks, 2, 0) %>

<%= header(2, 'Advance the tracks') %>
<ul>
  <li>You can click on the cat's name, which will simulate that you rolled to that cat.</li>
  <li>Following the above example, let's click on the cat's name at 2A (i.e. <span class="supa">2A supa cat</span>) to simulate that you rolled to that cat. This will lead you to a table looks like below.</li>
  <li>You can see that you advanced two rows. Previously <strong>3A rare cat</strong> was located at 3A, <span class="next_position">highlighted</span> in zebra, now it's located at 1A.</li>
  <li>Your new next roll will be <strong>3A rare cat</strong> located at <strong>1A</strong>.</li>
  <li>You can see that the other track will also advance, meaning that you can only pick one in the same row.</li>
</ul>

<%= erb :table, cats: arg[:help].advance_the_tracks %>

<%= header(2, "Look up cat's data") %>
<ul>
  <li>You can click on <strong>🐾</strong> beside the cat's name, which will show you the cat's data.</li>
</ul>
<%= erb :table, cats: arg[:help].lookup_cat_data %>

<%= header(2, 'What is a guaranteed event') %>
<ul>
  <li>There are two kinds of guaranteed events.</li>
  <li>One is 11 continuous rolls with 1500 cat food, which the 11st roll will be 100% uber regardless previous rolls, meaning that even if you rolled an uber cat earlier, the 11st will still be an uber cat.</li>
  <li>The other one is 3+5+7 (15) step up events, or increasing capsules, which you first use 300 cat food to roll 3 times continuously, and then 750 cat food to roll 5 times continuously, and finally 1050 cat food to roll 7 times continuously. In total 15 (3+5+7) rolls. Similar to 11 rolls guaranteed events, the last 15th roll will be 100% uber.</li>
  <li>Platinum gacha with platinum tickets for 100% uber <strong>IS NOT</strong> a guaranteed event. Only 11 rolls or 15 rolls can be a guaranteed event.</li>
</ul>

<%= header(2, 'What is a guaranteed uber') %>
<ul>
  <li>A guaranteed uber is the last roll with 11 or 15 rolls in a guaranteed event.</li>
  <li>Even if you rolled an uber as the last roll, if it's not rolled in a guaranteed event, it's not a guaranteed uber.</li>
</ul>

<%= header(2, 'Read the guaranteed tracks') %>
<ul>
  <li>Ubers listed on the guaranteed column are the guaranteed ubers.</li>
  <li>Guaranteed ubers will only be displayed if we're looking at a guaranteed event.</li>
  <li>Here if you make 11 guaranteed rolls, you'll get 1A ~ 10A and lastly <strong>1A guaranteed uber</strong>, totally 11 cats.</li>
</ul>

<%= erb :table, cats: arg[:help].guaranteed_tracks %>

<%= header(2, 'Highlight guaranteed rolls') %>
<ul>
  <li>You can also click on the guaranteed cells, and all the cats you'll roll out will be highlighted.</li>
  <li>Here we click on <strong>1A guaranteed uber</strong>'s cell, and 1A ~ 10A + 1A guaranteed uber are <span class="picked_consecutively">highlighted</span> in dark grey.</li>
  <li><strong>11B</strong> will also be <span class="next_position">highlighted</span> in zebra, indicating your next position after the 11 rolls.</li>
  <li>This is also indicated on the 1A guaranteed uber's cell, shown as <em>-&gt; 11B</em>. Here we jump from 1A to 11B.</li>
  <li>This will lead to the next topic: <a href="#switch-tracks">Switch tracks</a>.</li>
</ul>

<%= erb :table, cats: arg[:help].pick(arg[:help].guaranteed_tracks, 1, 0, true) %>

<%= header(2, 'Switch tracks') %>
<ul>
  <li>Switching tracks will happen whenever you made any guaranteed rolls in a <a href="#what-is-a-guaranteed-event">guaranteed event</a>. Note that platinum gacha <strong>IS NOT</strong> a guaranteed event.</li>
  <li>Beside that you always stay on the same track, regardless you're seeing it as track A or B. See <a href="#tracks-perspective">Tracks perspective</a> for details about perspective.</li>
  <li>We already see an example switching from A to B above, let's see an example switching from B to A.</li>
  <li>Due to the offset, we jump from 1B to <strong>12A</strong>.</li>
</ul>

<%= erb :table, cats: arg[:help].pick(arg[:help].guaranteed_tracks, 1, 1, true) %>

<%= header(2, 'Tracks perspective') %>
<ul>
  <li>Track A or B is purely perspective. You're always on track A, and the other track is the alternative track.</li>
  <li>To observe the perspective, let's look at this example. Suppose we click on <strong>2B rare cat</strong>'s cell, highlighting the rolls:</li>
</ul>

<%= erb :table, cats: arg[:help].pick(arg[:help].read_the_tracks, 2, 1) %>

<ul>
  <li>And then we click on <strong>2B rare cat</strong>'s name to roll to that position.</li>
  <li>We'll see that now the previous track B swapped to A, and A swapped to B.</li>
  <li>You're staying on the same track, because the next roll is still <span class="uber">3B uber cat</span> and so on, but the perspective is changed and swapped.</li>
</ul>

<%= erb :table, cats: arg[:help].swap_the_tracks %>

<%= header(2, 'Consecutive duplicated rare cats') %>
<ul>
  <li>
    When there are consecutive duplicated rare cats in a row:
    <ul>
      <li>
        Before 8.5-, the game will just shift the second rare cat you'll get,
        avoiding consecutive duplicated rare cats. For example, suppose the
        game rolled two Tin Cats in a row, the second Tin Cat will be changed
        to Rocker Cat. You can predict the change by subtracting one to the
        original slot code, like Tin Cat (slot 9) becomes Rocker Cat (slot 8).
        Check <a href="#read-the-details">Read the details</a> to understand
        what is a slot code.
      </li>
      <li>
        <strong>After 8.6+</strong>, the game will instead consume the seed
        again to roll another rare cat for you. As a result,
        <strong>it'll move you to the other track</strong> upon hitting into a
        consecutive duplicated rare cat. The reason you'll switch the track is
        exactly the same as rolling a guaranteed uber cat, that it'll consume
        the seed once, moving you half way forward, resulting track switch.
      </li>
    </ul>
  </li>
  <li>Let's look at an example for <strong>8.6+</strong>, where we have a consecutive duplicated rare cat at <strong>4A</strong>, a Tin Cat can turn into a <strong>Pogo Cat</strong>.</li>
  <li>Assuming you're clicking on the cell for 4A, highlighting the path toward it.</li>
  <li>You'll see that Pogo Cat was highlighted rather than the Tin Cat, and your next position will jump to <strong>5B</strong> instead of 5A.</li>
</ul>

<%= erb :table, cats: arg[:help].pick(arg[:help].dupe_rare_tracks, 4, 0) %>

<%= header(3, 'Bouncing with consecutive duplicated rare cats') %>
<ul></ul>

<%= erb :table, cats: arg[:help].pick(arg[:help].bouncing_tracks, 4, 0) %>

<%= header(3, 'Not necessarily a consecutive duplicated rare cat') %>
<ul></ul>

<%= erb :table, cats: arg[:help].pick(arg[:help].go_straight_tracks, 7, 1) %>

<%= header(3, 'Skipping with a platinum ticket') %>
<ul></ul>

<%= header(3, 'Guaranteed uber for the consecutive duplicated rare cats?') %>
<ul></ul>

<%= header(2, 'Find specific cat') %>
<ul></ul>

<%= header(2, 'Simulate guaranteed') %>
<ul></ul>

<%= header(2, 'Add future ubers') %>
<ul></ul>

<%= header(2, 'Read the details') %>
<ul></ul>

<%= header(2, 'Higher chances with repeated cats') %>
<ul></ul>

<%= header(1, 'How this works') %>
<ul></ul>

<%= header(1, 'How this was implemented') %>
<ul></ul>

<%= header(1, 'Glossary') %>
<ul>
  <li>Seed</li>
</ul>

<%= header(1, 'Table notes') %>
<%= erb :table_notes %>
