<% if route.path_info.match?(%r{\A/(?:cats(?:/\d+)?|logs|seek)?\z}) %>
<div class="options">
  <label for="lang_select">Language:</label>
  <select id="lang_select" name="lang" onchange="roll(this)">
    <option value="en" <%= selected_lang('en') %>>BCEN</option>
    <option value="tw" <%= selected_lang('tw') %>>BCTW</option>
    <option value="jp" <%= selected_lang('jp') %>>BCJP</option>
    <option value="kr" <%= selected_lang('kr') %>>BCKR</option>
  </select>

  <% if route.path_info.match?(%r{\A/(?:seek)?\z}) %>
  <label for="version_select">Version:</label>
  <select id="version_select" name="version" onchange="roll(this)">
    <% if route.path_info == '/seek' %>
      <option value="8.6">8.6+ (forgothowtoreddid)</option>
    <% else %>
      <option value="8.6" <%= selected_version('8.6') %>>8.6+</option>
    <% end %>
    <option value="8.5" <%= selected_version('8.5') %>>8.5</option>
    <option value="8.4" <%= selected_version('8.4') %>>8.4</option>
  </select>
  <% else %>
  <%= hidden_inputs('version') %>
  <% end %>

  <% if route.path_info != '/logs' && !route.path_info.start_with?('/cats/') %>
  <label for="name_select">Name:</label>
  <select id="name_select" name="name" onchange="roll(this)">
    <option value="0" <%= selected_name(0) %>>Base</option>
    <option value="1" <%= selected_name(1) %>>Evolved</option>
    <option value="2" <%= selected_name(2) %>>True</option>
  </select>
  <% else %>
  <%= hidden_inputs('name') %>
  <% end %>

  <% if route.path_info == '/' || route.path_info.start_with?('/cats/') %>
  <label for="theme_select">Theme:</label>
  <select id="theme_select" name="theme" onchange="roll(this)">
    <option value="" <%= selected_theme('') %>>Default</option>
    <option value="mkweb" <%= selected_theme('mkweb') %>>mkweb</option>
  </select>
  <% else %>
  <%= hidden_inputs('theme') %>
  <% end %>

  <% if route.path_info.match?(%r{\A/cats/\d+\z}) %>
  <div class="cats_options">
    <label for="level_input">Level:</label>
    <input
      type="number" id="level_input" name="level"
      value="<%= arg[:level] %>"
      min="1"
      max="<%= arg.dig(:cat_data, 'max_level') %>"
      onclick="this.select()">

    Growth rate: <%= growth_rate(arg.dig(:cat_data, 'growth')) %>

    <div class="stat_options">
      <label for="hide_wave_input">
        <input type="checkbox" id="hide_wave_input" name="hide_wave"
          <%= checked_hide_wave %>
          onchange="roll(this)">
         Hide wave and surge attacks
      </label>
      <label for="sum_no_wave_input">
        <input type="checkbox" id="sum_no_wave_input" name="sum_no_wave"
          <%= checked_sum_no_wave %>
          onchange="roll(this)">
         Discount wave and surge from DPS and damage sum
      </label>
      <label for="dps_no_critical_input">
        <input type="checkbox" id="dps_no_critical_input"
          name="dps_no_critical"
          <%= checked_dps_no_critical %>
          onchange="roll(this)">
         Discount critical strikes and savage blows from DPS
      </label>
    </div>
  </div>
  <% else %>
    <%= hidden_inputs('level', 'hide_wave',
      'sum_no_wave', 'dps_no_critical') %>
  <% end %>

  <% if route.path_info == '/cats' %>
  <div class="cats">
    <% each_ball_cat do |rarity, cats| %>
      <%= header(1, rarity) %>
      <ol>
        <% cats.reverse_each do |c| %>
          <li>
            <input type="checkbox" onchange="roll(this)"
              name="t" id="cat-<%= c.id %>" value="<%= c.id %>"
              <%= checked_cat(c) %>>
            <label for="cat-<%= c.id %>"><%= link_to_roll(c) %></label>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
  <% end %>
</div>
<% else %>
<%= hidden_inputs('level', 'lang', 'version', 'name',
  'hide_wave', 'sum_no_wave', 'dps_no_critical') %>
<% end %>

<%= hidden_inputs('o') %>
